<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .mynav_navbar {
            overflow: hidden;
            background-color: #333;
        }

            .mynav_navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

        .mynav_dropdown {
            float: left;
            overflow: hidden;
        }

        .mynav_dropdown .mynav_dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .mynav_navbar a:hover, .mynav_dropdown:hover .mynav_dropbtn {
            background-color: red;
        }

        .mynav_dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .mynav_dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .mynav_dropdown-content a:hover {
            background-color: #ddd;
        }

        .mynav_dropdown:hover .mynav_dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GDFindi Connector", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="mynav_navbar">
                <a @Html.ActionLink("Production Process", "ProductionProcess", "ProductionProcess")>Contact</a>
                <a href="#news">News</a>
                <div class="mynav_dropdown">
                    <button class="mynav_dropbtn">
                        Production Process
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="mynav_dropdown-content">
                        @Html.ActionLink("Process", "Process", "Process_PP")
                        @Html.ActionLink("Product", "Product", "Product_PP")
                        @Html.ActionLink("Tooling", "AssetsTools", "Assets")

                    </div>

                </div>

                <div class="mynav_dropdown">
                    <button class="mynav_dropbtn">
                        Station Activity
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="mynav_dropdown-content">
                        @Html.ActionLink("Station", "Station", "Stations")
                        @Html.ActionLink("Tooling Activity", "ToolingActivity", "ToolingActivity")
                        @Html.ActionLink("Process", "Process", "Process")
                        @Html.ActionLink("Product", "Product", "Product")
                        @Html.ActionLink("Input", "Input", "InOut")
                        @Html.ActionLink("Output", "Output", "InOut")
                        @Html.ActionLink("Materials", "Part", "Part")
                    </div>
                </div>

                <div class="mynav_dropdown">
                    <button class="mynav_dropbtn">
                        Rendering
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="mynav_dropdown-content">
                        @Html.ActionLink("Process Info", "ProcessResult", "Rendering")
                        @Html.ActionLink("Tooling Info", "Tooling", "Toolings")
                        @Html.ActionLink("Rendering Parameters", "RenderingCondition", "RenderingCondition")

                    </div>

                </div>

                

                

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GDFindi Connector Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
