@model IEnumerable<MasterDetailsDemo.Models.Process_View>

@{
    ViewBag.Title = "Process";
}

<h2>Process</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.OutputProcess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InputProcess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Frequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Setup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Worktime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Y)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Disabled)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.OutputProcess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InputProcess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frequency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Setup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Worktime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Y)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Disabled)
        </td>
     
    </tr>
}

</table>
